<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value=".\Logs"/>
  <variable name="scopeName" value="promomashinc"/>
  <variable name="maxFileSize" value="10240000"/>
  <variable name="maxFileCount" value="100"/>
  
  <targets>
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    <target name="c"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${longdate} ${uppercase:${level}}  ${message} ${event-properties:item=correlationId} ${event-properties:item=threadGuid}" >

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />

    </target>
    <target
          name="fileinfo"
          xsi:type="File"
          fileName="${logDirectory}\${date:format=yyyy-MM-dd}info.log"
          header="[${longdate} - Start logging]"
          layout="${longdate} - ${logger} - ${level}:${message} ${event-properties:item=correlationId} ${event-properties:item=threadGuid}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
          footer="[${longdate} - End logging]${newline}"
          archiveFileName="${logDirectory}\info{#####}.log"
          archiveAboveSize="${maxFileSize}"
          archiveNumbering="Sequence"
          concurrentWrites="true"
          MaxArchiveFiles="${maxFileCount}"
          keepFileOpen="false" />

    <target
            name="fileerror"
            xsi:type="File"
            fileName="${logDirectory}\${date:format=yyyy-MM-dd}error.log"
            header="[${longdate} - Start logging]"
            layout="${longdate} - ${logger} - ${level}:${message} ${event-properties:item=correlationId} ${event-properties:item=threadGuid}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
            footer="[${longdate} - End logging]${newline}"
            archiveFileName="${logDirectory}\error{#####}.log"
            archiveAboveSize="${maxFileSize}"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            MaxArchiveFiles="${maxFileCount}"
            keepFileOpen="false" />


    <target
      name="fileVerbose"
      xsi:type="File"
      fileName="${logDirectory}\${date:format=yyyy-MM-dd}verbose.log"
      header="[${longdate} - Start logging]"
      layout="${longdate} - ${logger} - ${level}:${message} ${event-properties:item=correlationId} ${event-properties:item=threadGuid}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
      footer="[${longdate} - End logging]${newline}"
      archiveFileName="${logDirectory}\verbose{#####}.log"
      archiveAboveSize="${maxFileSize}"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      MaxArchiveFiles="${maxFileCount}"
      keepFileOpen="false" />
    
  </targets>

  
  
  <rules>
   
    <logger name="*" minlevel="Info" writeTo="fileVerbose,c" />
    <logger name="PromomashInc.*" minlevel="Info" writeTo="fileinfo,c" />
    <logger name="*" minlevel="Error" writeTo="fileerror,c" />
    
  </rules>
</nlog>