<img mat-card-avatar class="logo" src="../../assets/pm-logo.png" alt="Promomash" />


<mat-card>
    <mat-card-header>

        <mat-card-title>
            <div class="flex-container flex-row field-width">
                <h2 class="form-field-width">Step 2</h2>
            </div>

        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form  flex-container flex-column">
            <div class="flex-container flex-row field-width">
                <mat-label class="label-width"> Country
                </mat-label>
                <mat-form-field  class="form-field-width">
                    <mat-label>Select Country</mat-label>
                    <mat-select #country [formControl]="countryFormControl"
                        (selectionChange)='onCountrySelected(country.value)'>
                        @for (country of countries; track country) {
                            <mat-option [value]="country.Code">{{country.DisplayText}}</mat-option>
                        }
                    </mat-select>
                    @if (countryFormControl.hasError('required')) {
                    <mat-error>Country is required field</mat-error>
                    }

                </mat-form-field>
            </div>


            <div class="flex-container flex-row  field-width" >
                <mat-label class="label-width"> Province
                </mat-label>
                <mat-form-field  class="form-field-width">
                    <mat-label>{{!!this.selectedCountry ? "Select province" : "Select country first"}}</mat-label>
                    <mat-select #province [formControl]="provinceFormControl">
                        <ng-container *ngIf="!isLoading; else loading">
                            @for (province of provincies; track province) {
                            <mat-option [value]="province.Code">{{province.DisplayText}}</mat-option>
                            }
                        </ng-container>


                        <ng-template #loading>
                            <mat-option disabled>
                                <div class="deferred-select-placeholder-container flex-container flex-row">
                                    <span>Loading...</span>
                                    <mat-spinner class="spinner" diameter="20"></mat-spinner>
                                </div>
                            </mat-option>
                        </ng-template>
                    </mat-select>


                    @if (provinceFormControl.hasError('required')) {
                        <mat-error>Province is required field</mat-error>
                    }
                </mat-form-field>
                
            </div>

        </form>
        <div class="flex-container flex-row">
            <button mat-raised-button color="accent" matTooltip="Go to step 1" matTooltipPosition="after"
                 (click)="gotoStep1()">
                Back
            </button>

            <button mat-flat-button color="primary" matTooltip="Save" matTooltipPosition="after" (click)="save()">
                Save
            </button>
        </div>
    </mat-card-content>
</mat-card>